.card_parent{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
    border: 1px solid black;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 50px;
    margin-bottom: 50px;
    cursor: pointer;
}

.first:hover{
    cursor: pointer;
}