footer{
    background-color: black;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 20px;
    margin-top: 50px;
    height: 450px;
    color:white;
    text-align: center;
    // .foot1{
    //     display: grid;
    //     grid-gap: 3%;
    //     grid-template-columns: 1fr 1fr 1fr;
    // }

    .iconify{
        font-size: 50px;
        margin: 20px;
    }
}


@media screen and (max-width: 600px) {
    footer {
        height: 500px;

        .iconify{
            font-size: 35px;
            margin: 10px;
        }
    }
  }