.pub {
    color: white; 
    // border: 1px solid black;
    //position: relative;
    margin-left: 20%;
    height: 700px;
    width: 115%;
    margin-top: 100px;
    background-color: rgba(0, 0, 0, 0.342);
    border: 10px solid red;

}

h1 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 10px;
    margin-bottom: 30px;
}

.chiffre {
    float: left;
    margin-right: 10px;
    margin-left: 5px;
    vertical-align: top;
    background: #f60b2a;
    font-weight: bold;
    width: 20px;
    text-align: center;
   
}

p {
    margin-left: 10px;
    margin-bottom: 30px;

}

.presse {
    border-left: 6px solid #f60b2a;
    padding: 5px 20px;
    font-style: italic;
    margin-left: 15px;
    height: 15%;
    margin-top: 50px;


    p {
        color: white;
        margin-right: 30px;
        
    }
}

h2 {
    color: white;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 50px;
    margin-bottom: 20px;
}


@media screen and (max-width:"1400px"){
    .pub {
        color: white; 
        border: 1px solid rgba(0, 0, 0, 0.342);
        height: 800px;
        width: 115%;
        margin-left: 0px;
        margin-top: 100px;
    
    }
}


